{% extends 'base_login.html'%}
{% load static %}
{% block 'titulo'%}
Login
{% endblock%}

{% block 'conteudo'%}
<h1 style="padding-top: 20px;" class="text-center text-primary">Faça seu login</h1>
{% include 'parciais/_messages.html'%}

<div class="row">
    <div class="col-3"></div>
        <div class="col-md-5">
            <form method="post" class="mb-5">
                {% csrf_token %}
                
                <div class="mb-3">
                  <label class="form-label">Email</label>
                  <input type="email" class="form-control" placeholder="Digite seu Email" name="email" value="{{request.POST.email}}">
                </div>

                <div class="mb-3">
                  <label class="form-label">Senha</label>
                  <input type="password" class="form-control" placeholder="Senha" name="senha">
                </div>

                
                <div class="row">
                  <button type="submit" class="btn btn-primary">Login</button>
                </div>
                
                <div class="row">
                  <div style="height: 400px; text-align: center;">
                    <img src="{% static 'img/logo1.png'%}" alt="" class="image-fluid mt-5" style="height: 300px; margin: 0 auto;">
                  </div>
                </div>
                
              </form>
              
        </div>
    <div class="col-3"></div>
</div>
{% endblock %}