{% extends 'base.html'%}
{% load static %}

{% block 'titulo'%}
Clientes
{% endblock%}



{% block 'conteudo'%}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home'%}">Página Inicial</a></li>
    <li class="breadcrumb-item active" aria-current="page">Cadastro prévio de Clientes</li>
  </ol>
</nav>
<h1 style="padding-top: 20px;" class="text-center text-primary">Cadastro prévio do cliente</h1>
<a href="{% url 'manut_cliente' %}" class="btn btn-outline-info">Consultar/manutenção de clientes</a>
{% include 'parciais/_messages.html'%}

<div class="col-12">

    <form method="post" action="{% url 'clientes' %}" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mb-3">
        <label class="form-label">Nome do cliente: </label>
        <input type="text" class="form-control" name="nome" placeholder="Nome do cliente" value="{{request.POST.nome}}">
      </div>

      <div class="mb-3">
        <label class="form-label">Telefone celular do cliente: </label>
        <input type="text" class="form-control" placeholder="Celular" id="celular" name="celular" value="{{request.POST.celular}}">
      </div>

      <div class="mb-3">
        <label class="form-label">Identificador (cidade) do cliente: </label>
        <input type="text" class="form-control" name="obs" placeholder="Cidade do cliente" value="{{request.POST.obs}}">
      </div>
      <button type="submit" class="btn btn-primary">Adicionar cliente</button>
    </form>

    <div class="row">
        <div style="height: 400px; text-align: center;">
          <img src="{% static 'img/logo1.png'%}" alt="" class="image-fluid mt-5" style="height: 300px; margin: 0 auto;">
        </div>
    </div>
</div>

<div class="row">
</div>

<script type="text/javascript">
    $("#celular").mask("(00) 00000-0000");
</script>

{% endblock %}