{% extends 'base.html'%}
{% load static %}

{% block 'titulo'%}
Alterar orçamento
{% endblock%}



{% block 'conteudo'%}
<h1 style="padding-top: 20px;" class="text-center text-primary">Alterar orçamento de reserva</h1>
{% include 'parciais/_messages.html'%}

<div class="col-12">
  <div class="mb-3">
    <div class="row">
      <div class="col-sm-3">
        <label class="form-label">Nº do orçamento: </label>
        <input type="text" class="form-control"  value="{{orcamento.id}}" disabled>
      </div>
      
      <div class="col-sm-6"></div>

      <div class="col-sm-3">
        <label class="form-label">Telefone do cliente: </label>
        <input type="text" class="form-control"  value="{{orcamento.cliente.telefone}}" disabled>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <div class="row">
      <div class="col-sm-7">
        <label class="form-label">Nome do cliente: </label>
        <input type="text" class="form-control"  value="{{orcamento.cliente.nome}}" disabled>
      </div>
      <div class="col-sm-5">
        <label class="form-label">Identificação/cidade do cliente: </label>
        <input type="text" class="form-control"  value="{{orcamento.cliente.obs}}" disabled>
      </div>
    </div>
  </div>
  
  <form method="post" action="{% url 'alterar_orcamento' orcamento.id%}" enctype="multipart/form-data">
    {% csrf_token %}

  <div class="mb-3">
    <div class="row">
      <div class="col-sm-3">
        <label for="" class="form-label">Nº de ocupantes</label>
        <input type="number" name="n_ocupantes" class="form-control" value="{{orcamento.n_ocupantes}}">
      </div>

      <div class="col-sm-9">
        <label for="" class="form-label">Observação sobre ocupantes</label>
        <input type="text" name="obs_n_ocupantes" class="form-control" value="{{orcamento.obs_n_ocupantes}}">
      </div>
      
    </div>
  </div>

  <div class="mb-3">
    <div class="row">

      <div class="col-sm-4">
        <label for="" class="form-label">Tipo de período</label>
        <select name="periodo" id="periodo" class="form-select">
          {% for p in periodos %}
          {% if p.periodo == orcamento.periodo %}
          <option value="{{orcamento.periodo}}" selected>{{p.periodo}}</option>
          {% else %}
          <option value="{{p.periodo}}">{{p.periodo}}</option>
          {% endif %}
          {% endfor %}
        </select>
      </div>

      <div class="col-sm-4">
        <label for="" class="form-label">Acomodação</label>
        <select name="acomodacao" id="acomodacao" class="form-select">
          {% for a in acomodacoes %}
          {% if a.nome == orcamento.acomodacao.nome %}
          <option value="{{orcamento.acomodacao.id}}" selected>{{a.nome}}</option>
          {% else %}
          <option value="{{a.id}}">{{a.nome}}</option>
          {% endif %}
          {% endfor %}
        </select>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <div class="row">
      <div class="col-sm-4">
        <label class="form-label">Data de entrada: </label>
        <input type="date" class="form-control" id="entrada" name="entrada" value="{{data_entrada}}" onchange="difData()">
      </div>

      <div class="col-sm-4">
        <label class="form-label">Dia da entrada: </label>
        <input type="text" class="form-control dado_orc" name="dia_entrada" id="dia_entrada" value="{{orcamento.dia_entrada}}" disabled>
      </div>

      <div class="col-sm-4">
        <label class="form-label">Check-in: </label>
        <select name="checkin" id="checkin" class="form-select">
          {% for c in checkin %}
          {% if c.hora == orcamento.checkin %}
          <option value="{{orcamento.checkin}}" selected>{{c.hora}}</option>
          {% else %}
          <option value="{{c.hora}}">{{c.hora}}</option>
          {% endif %}
          {% endfor %}
        </select>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <div class="row">
      <div class="col-sm-4">
        <label class="form-label">Data de saída: </label>
        <input type="date" class="form-control" name="saida" id="saida" value="{{data_saida}}" onchange="difData()">
      </div>

      <div class="col-sm-4">
        <label class="form-label">Dia da saída: </label>
        <input type="text" class="form-control dado_orc" name="dia_saida" id="dia_saida" value="{{orcamento.dia_saida}}" disabled>
      </div>

      <div class="col-sm-4">
        <label class="form-label">Check-out: </label>
        <select name="checkout" id="checkout" class="form-select">
          {% for c in checkout %}
          {% if c.hora == orcamento.checkout %}
          <option value="{{orcamento.checkout}}" selected>{{c.hora}}</option>
          {% else %}
          <option value="{{c.hora}}">{{c.hora}}</option>
          {% endif %}
          {% endfor %}
        </select>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <div class="row">
      <div class="col-sm-3">
        <label class="form-label">Total de diárias da reserva: </label>
        <input type="text" class="form-control dado_orc" value="{{orcamento.n_dias}}" id="n_dias" name="n_dias" disabled>
      </div>

      <div class="col-sm-3">
        <label class="form-label">Diária cheia ou pernoite?</label>
        <div class="">
            {% if orcamento.diaria_cheia %}
            <input type="checkbox" class="" id="cheia" name="cheia" onclick="difData()" value="cheia" checked>
            {% else %}
            <input type="checkbox" class="" id="cheia" name="cheia" onclick="difData()" value="cheia">
            {% endif %}
            <label class="btn btn-outline-success" for="cheia">Marque para selecionar diária cheia</label>      
        </div>
      </div>
    </div>
  </div>
  
</div>

<hr>

<div class="col-12">

    

      <div class="mb-3">
        <div class="row">
          <div class="col-sm-3">
            <label for="" class="form-label">Valor da diária</label>
            <input type="number" class="form-control" id="valor_diaria" name="valor_diaria" value="{{valor}}" min="1" step="0.01">
          </div>

          <div class="col-sm-3">
            <label for="" class="form-label">Taxa de limpeza</label>
            <input type="number" class="form-control" id="taxa_limpeza" name="taxa_limpeza" value="{{taxa_limpeza}}" min="0" step="0.01">
          </div>

          <div class="col-sm-3">
            <label for="" class="form-label">Descontos</label>
            <input type="number" class="form-control" id="descontos" name="descontos" value="{{descontos}}" min="0" step="0.01">
          </div>

          <div class="col-sm-3">
            <label for="" class="form-label">Acréscimos</label>
            <input type="number" class="form-control" id="acrescimos" name="acrescimos" value="{{acrescimos}}" min="0" step="0.01">
          </div>
          
        </div>
      </div>
      <div class="mb-3">
        <div class="row">
          <div class="col-sm-3">
            <label for="" class="form-label">Valor pacote</label>
            <input type="number" class="form-control" id="valor_pacote" name="valor_pacote" value="{{valor_pacote}}" min="0" step="0.01">
          </div>

          <div class="col-sm-3">
            <label for="" class="form-label">Quantidade de dias do pacote</label>
            <input type="number" class="form-control" id="dias_pacote" name="dias_pacote" value="{{dias_pacote}}" min="0" step="1">  
          </div>

          <div class="col-sm-3">
            <label for="" class="form-label">Clique para calcular</label>
            <button class="btn btn-success" type="button" onclick="calcular_orcamento()">Calcular orçamento</button>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-6">
          <div class="mb-3">
            <div class="row">
              <div class="col-sm-6">
                <input type="text" class="form-control dado_orc" id="tot_diarias" name="tot_diarias" disabled style="text-align: right;">
              </div>
    
              <div class="col-sm-6">
                <span class="fs-4"> ->>> Total das diárias</span>
              </div>
            </div>
          </div>
    
          <div class="mb-3">
            <div class="row">
              <div class="col-sm-6">
                <input type="text" class="form-control dado_orc" id="tot_pacote" name="tot_pacote" disabled style="text-align: right;">
              </div>
    
              <div class="col-sm-6">
                <span class="fs-4"> ->>> Total de valor pacote</span>
              </div>
            </div>
          </div>
    
          <div class="mb-3">
            <div class="row">
              <div class="col-sm-6">
                <input type="text" class="form-control dado_orc" id="tot_taxa_limpeza" name="tot_taxa_limpeza" disabled style="text-align: right;">
              </div>
    
              <div class="col-sm-6">
                <span class="fs-4"> ->>> Taxa de limpeza</span>
              </div>
            </div>
          </div>
    
          <div class="mb-3">
            <div class="row">
              <div class="col-sm-6">
                <input type="text" class="form-control dado_orc" id="tot_acrescimos" name="tot_acrescimos" disabled style="text-align: right;">
              </div>
    
              <div class="col-sm-6">
                <span class="fs-4"> ->>> Acréscimos</span>
              </div>
            </div>
          </div>
    
          <div class="mb-3">
            <div class="row">
              <div class="col-sm-6">
                <input type="text" class="form-control text-danger dado_orc" id="tot_descontos" name="tot_descontos" disabled style="text-align: right;">
              </div>
    
              <div class="col-sm-6">
                <span class="fs-4 text-danger"> ->>> Descontos</span>
              </div>
            </div>
          </div>
    
          <div class="mb-3">
            <div class="row">
              <div class="col-sm-6">
                <input type="text" class="form-control fs-3 dado_orc" id="tot_reserva" name="tot_reserva" disabled style="text-align: right;">
              </div>
    
              <div class="col-sm-6">
                <span class="fs-3"> Total da reserva</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6">
          <select name="" id="cond_pag_orc" class="form-select" onchange="pega_cond_pag_orc()">
            <option value="" selected>Selecione uma observação</option>
            {% for c in cond_pag_orc %}
            <option value="{{c.descricao}}">{{c.identificacao}}</option>
            {% endfor %}
          </select>
          <label for="" class="form-label">Condições de pagamento</label>
          <textarea class="form-control" name="cond_pag" id="cond_pag" cols="30" rows="10">{{obs_orcamento.condicoes_pagamento}}</textarea>
        </div>

      </div>
      
        <div class="col-12">
          <select name="" id="obs_orc" class="form-select" onchange="pega_obs_orc()">
            <option value="" selected>Selecione uma observação</option>
            {% for o in obs_orc %}
            <option value="{{o.descricao}}">{{o.identificacao}}</option>
            {% endfor %}
          </select>
          <label for="" class="form-label">Observações</label>
          <textarea class="form-control" name="obs" id="obs" cols="30" rows="5">{{obs_orcamento.obs}}</textarea>
        </div>

        <div class="col-12">
          <select name="" id="info_adic" class="form-select" onchange="pega_info_adic()">
            <option value="" selected>Selecione uma observação</option>
            {% for i in info_adic %}
            <option value="{{i.descricao}}">{{i.identificacao}}</option>
            {% endfor %}
          </select>
          <label for="" class="form-label">Informações adicionais</label>
          <textarea class="form-control" name="info_adicionais" id="info_adicionais" cols="30" rows="15">{{obs_orcamento.informacoes_adicionais}}</textarea>
        </div>


      <div class="mb-3">
        <div class="col-12">
          <label for="" class="form-label">Informe o motivo da alteração desse orçamento</label>
          <input type="text" class="form-control text-danger" id="motivo" name="motivo" maxlength="200" required>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" onclick="habilitar_campos_submit()">Finalizar orçamento</button>
      <a class="btn btn-danger" href="{% url 'lista_alterar_orcamento' %}">Cancelar e retornar</a>
    </form>

    <div class="row">
        <div style="height: 400px; text-align: center;">
          <img src="{% static 'img/logo1.png'%}" alt="" class="image-fluid mt-5" style="height: 300px; margin: 0 auto;">
        </div>
    </div>
</div>

<div class="row">
</div>

<script type="text/javascript">

  $("#tot_diarias").mask("R$ 0.000,00");

  function difData(){
    var semana = ["Domingo", "Segunda-Feira", "Terça-Feira", "Quarta-Feira", "Quinta-Feira", "Sexta-Feira", "Sábado"];
    if(document.getElementById("cheia").checked){
      let hoje = new Date()
      let entrada = new Date(document.getElementById("entrada").value);
      let saida = new Date(document.getElementById("saida").value);
      var diaEntrada = semana[(entrada.getDay()+1) % 7];
      var diaSaida = semana[(saida.getDay()+1) % 7];
      entrada = entrada.setDate(entrada.getDate()+1);
      saida = saida.setDate(saida.getDate()+1);
      console.log(diaEntrada);
      console.log(diaSaida);
      if (entrada < hoje || saida < hoje){
        alert("Atenção! Data selecionada não pode ser anterior a data atual, verifique.");
      }
      let dias = (saida-entrada)/(1000*3600*24);
      dias += 1;
      dias = dias.toString();
      if (dias !== "NaN"){
        document.getElementById("n_dias").value = dias;
      }
    } else {
      let hoje = new Date()
      let entrada = new Date(document.getElementById("entrada").value);
      let saida = new Date(document.getElementById("saida").value);
      var diaEntrada = semana[(entrada.getDay()+1) % 7];
      var diaSaida = semana[(saida.getDay()+1) % 7];
      entrada = entrada.setDate(entrada.getDate()+1);
      saida = saida.setDate(saida.getDate()+1);
      console.log(diaEntrada);
      console.log(diaSaida);
      if (entrada < hoje || saida < hoje){
        alert("Atenção! Data selecionada não pode ser anterior a data atual, verifique.");
      }
      let dias = (saida-entrada)/(1000*3600*24);
      dias = dias.toString();
      if (dias !== "NaN"){
        document.getElementById("n_dias").value = dias;
      }
    }
    if (diaEntrada != undefined){
      document.getElementById("dia_entrada").value = diaEntrada;
    }
    if (diaSaida != undefined){
      document.getElementById("dia_saida").value = diaSaida;
    }
  }

  function habilitar_campos_submit(){
    let motivo = document.getElementById("motivo").value
    if (motivo !== ""){
      let botoes = document.getElementsByClassName("dado_orc");
      for(i = 0; i < botoes.length; i++){
        botoes[i].disabled = false;
      }
    }
  }

  function calcular_orcamento(){
    var diaria = parseFloat(document.getElementById("valor_diaria").value);
    var n_dias = parseInt(document.getElementById("n_dias").value);
    var taxa_limpeza = parseFloat(document.getElementById("taxa_limpeza").value);
    var descontos = -parseFloat(document.getElementById("descontos").value);
    var acrescimos = parseFloat(document.getElementById("acrescimos").value);
    var valor_pacote = parseFloat(document.getElementById("valor_pacote").value);
    var dias_pacote = parseFloat(document.getElementById("dias_pacote").value);
    var total_diarias = 0;
    if(valor_pacote === 0){
      total_diarias = n_dias*diaria;
    } else{
      total_diarias = (n_dias-dias_pacote)*diaria;
    }
    document.getElementById("tot_diarias").value = "R$ " + total_diarias.toFixed(2);
    document.getElementById("tot_pacote").value = "R$ " + valor_pacote.toFixed(2);
    document.getElementById("tot_taxa_limpeza").value = "R$ " + taxa_limpeza.toFixed(2);
    document.getElementById("tot_descontos").value = "R$ " + descontos.toFixed(2);
    document.getElementById("tot_acrescimos").value = "R$ " + acrescimos.toFixed(2);
    var total_geral = total_diarias+taxa_limpeza+descontos+acrescimos+valor_pacote;
    document.getElementById("tot_reserva").value = "R$ " + total_geral.toFixed(2);
    var metade = total_geral/2; 
    var saldo = total_geral-metade;
    var cond = "CONDIÇÃO DE PAGAMENTO PADRÃO:" + "\n\n- DEPÓSITO A VISTA PIX PARA A CONFIRMAÇÃO DA RESERVA R$ " + metade.toFixed(2) + "\n- VALOR A SER PAGO NA CHEGADA AO RESIDENCIAL = R$ " + saldo.toFixed(2) + " + OCUPANTES ADICIONAIS FORA OS CONTRATADOS NA RESERVA (SE HOUVER)" + "\n\nVALOR A SER PAGO NA SAÍDA : CUSTO DO AR CONDICIONADO SE OPTAR POR ESTE OPCIONAL";
    document.getElementById("cond_pag").value = cond;
  }

  function pega_obs_orc(){
    document.getElementById("obs").value = document.getElementById("obs_orc").value;
  }

  function pega_info_adic(){
    document.getElementById("info_adicionais").value = document.getElementById("info_adic").value;
  }

  function pega_cond_pag_orc(){
    document.getElementById("cond_pag").value = document.getElementById("cond_pag_orc").value;
  }

</script>

{% endblock %}