{% extends 'base.html'%}
{% load static %}

{% block 'titulo'%}
Orçamentos para geração de PDF
{% endblock%}



{% block 'conteudo'%}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home'%}">Página Inicial</a></li>
    <li class="breadcrumb-item active" aria-current="page">Lista de Orçamentos digitados Pendentes</li>
  </ol>
</nav>

<h1 style="padding-top: 20px;" class="text-center text-primary">Orçamentos para geração de PDF</h1>
{% include 'parciais/_messages.html'%}

<div class="col-12">


    <div class="col-12 table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">Nº orçamento</th>
              <th scope="col">Orçamento</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            {% for o in orcamentos %}
            <tr>
                <td>{{o.id}}</td>
                <td class="">{{o}}</td>
                <td class="">{{o.status}}</td>
                <td><a href="{% url 'gera_pdf_orc' o.id%}" target="_blank" class="btn" title="Gerar PDF"><i class="fa-regular fa-file-pdf fa-spin-pulse text-primary"></i></i>Gerar PDF do orçamento</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
</div>
</div>

<div class="row">
    <div style="height: 400px; text-align: center;">
      <img src="{% static 'img/logo1.png'%}" alt="" class="image-fluid mt-5" style="height: 300px; margin: 0 auto;">
    </div>
</div>

<div class="row">
</div>

{% endblock %}